@import "../../App.scss";

.Sidebar{
    background: $card;
    width: 34rem;
    min-height: 100vh;
    padding: 2rem 2rem 3rem 2rem ;
    @include flexCenter(column,space-between);
    text-align: center;
    background-position: -17rem 5rem;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;
    position: relative;
    
    span{
        color: $subtext;
    }
    img{
        width: 25rem;
        height: 25rem;
        object-fit: contain;
        margin: 0 auto;
    }
    .grades{
        color: white;
        font-size: 7.5rem;
    }
    .temperature{
        font-size: 3.5rem;
    }
    .deteil{
        font-weight: 700;
        font-size: 2rem;
        // letter-spacing: .5rem;
    }
    .footer{
        .fecha{
            display: block;
            margin-bottom: 1.5rem;
        }
    }

    @include LaptopMQ{
        width: 100%;
    }
}

.Menu{
    @include flexCenter(row,space-between)
}

.Mascara{
    position: absolute;
    width: 100%;
    height: 100%;
    background: $card;
    top: 0;
    left: -120rem;
    transition: left 1s ease;
    // text-align: end;
    // display: flex;
    i{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .input {
        margin: 4rem 1rem;
        text-align: start;
        display: flex;
        gap: 1rem;
        input{
            flex: 1 1 auto;
            padding: 1rem;
            font-size: 1.8rem;
            background: $card;
            border-style: solid;
            border-color: white;
            color: white;
            width: 1rem;
        }
        button{
            background: #3C47E9;
            width: 8rem;
            // padding: 1.6rem 1.5rem;
            // margin:0 1rem;
        }
    }
}
.Open{
    left: 0;  
}